/**{
    border: solid 2px
  
}

*/
html, body {
    		margin: 10px;
    	}

  body{


background-color: #9D18cc;
background-size:100% 100%;
background-repeat:no-repeat;
z-index: -1;
  }

/* Below is the CSS for the TOPWRAP*/

#topwrap{
	min-height: 10%;
	max-height:10%;
	background-color: #93ebbe;
	width:100%;
	Display:inline-block;
}

#topwrap h1 {
	float:left;
}
#sociallinks{
	float:right;
	width:50%;
	position:relative;
}
#logo{
	min-height: 10%;
	min-width: 20%;
	}

.logo1{
	float: right;
	position:relative;
	display:inline-table;
	z-index: 2;
	height:15%;
	width: 15%;
	background-color:#0e0433
	background-origin:border-box; 
}
/*Below is the CSS for the MAIN CONTENT of the page*/
.MainContent{
	display:inline-block;
	float:left;
	max-width:75%;
	
}


/* Below is the CSS for the CURRENT EVENTS BAR*/
#currentcontainer{
	position:fixed;
	display:inline-block;
	float: right;
	border:3px;
	border: solid 2px;
	padding-left: 2%;
	min:10%;
}

#current{
	position:relative;
}

.currentlink{
	font-size: 8px;

}


/* Below is the CSS for the NAVBAR*/
#navbarwrap{
	position:fixed; 
	top:85%;
	height:10%;
	width:100%;
	background-color: #0e0433;
	margin-bottom: 40%;

	
}


#navbarwrap div {
	position:relative;
	display: inline-block;
	margin-left: 10px;
	max-width: 40%;
	min-width: 15%;
	padding-left: 30px;


}

#name{
	width: 30%;
}
.navbar button {
	width:95%;
	height: 90%;
}
button {
	color:white;
	background-color: #0e0433;
	border: none;
}

button:hover{


}
