/**{
    border: solid 2px
  
}

*/
html, body {height: 100%;
    		margin: 0;
    	}

  body{


background-color: #EFF5FB;
background-size:100% 100%;
background-repeat:no-repeat;
z-index: -1;
  }


/* Below is the CSS for the TOPWRAP*/

#topwrap{
	min-height:33%;
	max-height: 33%;
	background-color:#EFF5FB; 
	min-width:100%;
	max-width: 100%;
	background-image: url(Images/topwrap.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
	-webkit-box-reflect:below 0px
	-webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));  

}
/*Below is the CSS for the MAIN CONTENT of the page*/



/* Below is the CSS for the CURRENT EVENTS BAR*/
#currentcontainer{
	position:fixed;
	display:inline-block;
	float: right;
	border:3px;
	border: solid 2px;
	padding-left: 2%;
	right:-230px;

}

#current{
	position:relative;
	display:inline-block;
	float:right;
}

.currentlink{
	font-size: 8px;

}

#expandbutton{
	top:80px;
	margin-right:10px;
	margin-left: -15px;
	display:inline-block;
	min-height:30px;
	min-width:40px;
	position:relative;
	border:solid 3px;
	float:left;
	z-index: 2;

}

/* Below is the CSS for the NAVBAR*/

#navbarwrap{
	position:absolute; 
	top:37%;
	height:8%;
	width:100%;
	margin-bottom: 40%;
	margin-left: -10px;
	margin-right: -30px;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,0.4);
	
}

#navbarwrap div {
	position:relative;
	display: inline-block;
	margin-left: 10px;
	max-width: 40%;
	min-width: 15%;
	padding-left: 30px;

}

.navbar{
	box-shadow: -2px 0 2px -2px rgba(0,0,0,0.4);
}
#name{
	width: 30%;

}
.navbar h2 {
	width:95%;
	height: 90%;
	text-align: center;
	
}
h2 {
	color:rgba(0,0,0,0.4);
	font-family:helvetica;
	font-size: 1em;
}

/*Below is the CSS for the SUBMENUNAVBAR */

#submenuwrap{
	position:absolute; 
	top:44%;
	height:6%;
	min-width:100%;
	background-color: #434c56;
	margin-bottom: 40%;
	margin-left: -10px;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,0.4);
	
}

#submenuwrap div {
	position:relative;
	display: inline-block;
	max-width: 40%;
	min-width: 10%;
	padding-left: 30px;

}

.navbar2 h3 {
	width:95%;
	height: 90%;
	text-align: center;
	
}
h3 {
	color:white;
	font-family:helvetica;
	font-size: 1em;
}