*{
    border-style:solid 2px;
}


html, body {height: 100%;
    		margin: 0;
    	}

  body{


/*background-color: #9D18cc;
background-size:100% 100%;
background-repeat:no-repeat;
z-index: -1;
  }

#topwrap{
	min-height: 10%;
	max-height:10%;
	background-color: #93ebbe;
	width:100%;
}


.logocontainer{
z-index: 1;
	position:relative;
	background-color:#;
	background-origin:border-box; 
	max-height: 25%;
}
 #logo{
 	padding-left: 25%;
 	position:relative;

 }
.logo1{
	z-index: 2;
	max-height: 100%;
	width: 15%;
	margin-left:5%;
	background-color:#0e0433
	background-origin:border-box; 
}

#navbarwrap{
	position:fixed; 
	top:85%;
	height:10%;
	width:100%;
	background-color: #0e0433;
	margin-bottom: 40%;

	
}

#navbarwrap div {
	position:relative;
	display: inline-block;
	margin-left: 10px;
	max-width: 40%;
	min-width: 15%;
	padding-left: 30px;


}

#name{
	width: 30%;
}
.navbar button {
	width:95%;
	height: 90%;
}
button {
	color:white;
	background-color: #0e0433;
	border: none;
}

button:hover{


}
